*, *:before, *:after {
  box-sizing: border-box;
}

:root {
  --app-width-xs: 480px;
  --app-width-sm: 640px;
  --app-width-md: 768px;
  --app-width-lg: 1024px;
  --app-width-xl: 1280px;
  --app-width: var(--app-width-xs);

  --color-brand-primary: #562d63;
  --color-brand-secondary: #ffb800;

  --background-document: #f9f2e9;
  --background-app: #f2f3f4;
  --background-footer-nav: #571854;
}

html, body {
  font-family: var(--p-font-family-sans);
  font-size: 16px;
  margin:0;
  padding:0;

  background-color: var(--background-document);
}

#root {
  max-width: var(--app-width);
  margin: 0 auto;
  padding: 0;
  height: 100vh;
  background-color: var(--background-app);
}

.upz-app {
  height: 100vh;
}

.upz-app__footer {
  /* height: 50px; */
  position: fixed;
  bottom: 0;
  width: 100%;
  max-width: var(--app-width);
  /* margin: 0 auto; */
  background-color: var(--background-footer-nav);
  padding: var(--spacing-100) var(--spacing-200);

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.upz-app__footer-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-050);
}

.upz-app__footer-button svg {
  color: var(--color-gray-300);
}

